
.NavBar-flexbox {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 5px ridge var(--col-brown);
    background-color: var(--col-purple);
    box-shadow: 0 0 12px inset black;
    height: 4rem;
    display: flex;
    align-items: center;
}

.NavBar-item {
    color: white;
    margin: 0 1rem;
    flex: 0 0 auto;
    text-shadow: 0 3px black;
}

.NavBar-sitetitle {
    font-size: 2.5em;
    font-family: "Germania One", sans-serif;
    flex: 1 0 auto;
}

.NavBar-link {
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
    text-shadow: 0 3px black;
    transition: text-shadow 0.5s ease-out, font-size 0.5s ease-out;
}

.NavBar-link:hover {
    font-size: 1.6em;
    text-shadow: 0 0 6px #ff00ea;
}

.NavBar-button {
    padding: 0;
    border: 0;
    background-color: transparent;
    position: relative;
}

.NavBar-icon {
    width: 3rem;
    height: 3rem;
    filter: drop-shadow(0 3px 0 black);
    will-change: filter;
    transition: all 0.5s ease-out;
}

.NavBar-icon:hover {
    width: 3.1rem;
    height: 3.1rem;
    filter: drop-shadow(0 0 6px #ff00ea);
}

.NavBar-itemcounter {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: black;
    text-shadow: none;
    pointer-events: none;
}
